@import url("https://fonts.googleapis.com/css?family=Exo:400,700");


* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Exo", sans-serif;
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.area {
  background: linear-gradient(90deg, var(--c5), var(--c8));
  background: -webkit-linear-gradient(90deg, var(--c5), var(--c8));
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}




.login-container {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}





.block {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
    background-color: #fff;
    width: 30%;
    z-index: 5;
    box-shadow: var(--shadow);
}







.login-main-title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--c8);
}




.account-types {
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-icon {
    height: 70px;
    width: 70px;
    border-radius: 90px;
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    margin-right: 10px;
    margin-bottom: 10px;
}



.login-span {
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--c6);
}


.login-icon.doctor {
    background: url('../../assets/svg/medico.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.login-icon.secretary {
    background: url('../../assets/svg/secretaria.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.login-icon.admin {
    background: url('../../assets/svg/admin.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}



.login-input-container {
    display: flex;
    width: 100%;
    z-index: 10;
    margin: 0 0 15px 0;
}
  
.login-input-icon {
    padding: 25px 10px 25px 25px;
    max-width: 55px;
    min-width: 55px;
    width: 55px;
    height: 70px;
    background: var(--c11);
    color: var(--c12);
    z-index: 10;
    
}
  
.login-input-field {
    z-index: 10;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1rem;
    background: var(--c11);
    color: var(--c6);
    width: 100%;
    padding: 15px 80px 15px 15px;
    outline: none;
    border: 2px solid var(--c11);
    margin: 0;
}

.login-input-field:focus {
    color: var(--c6);
}

.login-main-button {
    margin: 25px 0 0 0;
    padding: 20px 80px;
    font-family: Poppins;
    color: var(--c1);
    width: 100%;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 80px;
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer;
    background: -webkit-linear-gradient(45deg, var(--c10) 0%, var(--c9) 50%, var(--c8) 50%, var(--c5) 100%);
    background: linear-gradient(45deg, var(--c10) 0%, var(--c9) 50%, var(--c8) 50%, var(--c5) 100%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
}


.login-main-button:hover {
    background-position: 0;
}



.login-form {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10%
}

.login-form a {
    font-size: 1rem;
    margin-top: 15px;
    color: var(--c6);
}
.login-form a:hover {
    color: var(--c9);
}

.input-validation-container small{
  position: absolute;
  bottom: 0px;
  left: 0px;
  visibility: hidden;
}

.login-input-container.login .login-icon{
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 10;
}

.login-input-container.senha .login-icon{
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 10;
}

div .input-validation-container {
  position: relative;
}

