.-button {
    margin: 25px 0 0 0;
    padding: 20px 80px;
    font-family: Poppins;
    color: var(--c1);
    width: 50%;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 80px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background: -webkit-linear-gradient(
      45deg,
      var(--c10) 0%,
      var(--c9) 50%,
      var(--c8) 50%,
      var(--c5) 100%
    );
    background: linear-gradient(
      45deg,
      var(--c10) 0%,
      var(--c9) 50%,
      var(--c8) 50%,
      var(--c5) 100%
    );
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
}