.main-container {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    margin: 0;
    padding: 0 0 0 300px;
    background-color: var(--c14);
    background: linear-gradient(0deg, var(--c14) 750px, var(--c2) 750px);
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}